<div class="contact container">
  <header (addContact)="showModal()"></header>
  <filter
    [searchTerm]="searchTerm"
    [numberOfContacts]="contacts.length"
    (filterByName)="onFilterByName($event)"
    (showPage)="onShowPage($event)"
    (filterByFavorite)="onFilterByFavorite($event)"
  ></filter>
  <user-list
    [users]="contacts"
    [itemsPerPage]="perPage"
    [favorites]="owner.favorites"
    (editContact)="onEditContact($event)"
    (deleteContact)="onDeleteContact($event)"
  ></user-list>
</div>
