<div class="filter d-flex justify-content-end p-4">
  <div class="filter-one">
    <button
      type="button"
      class="btn dropdown-toggle filter-button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
      data-bs-toggle="dropdown"
    >
      All
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">All</a>
      <a class="dropdown-item" href="#">Favorites</a>
    </div>
  </div>
  <div class="filter-two">
    <span>Show</span>
    <button
      class="btn dropdown-toggle filter-button"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
      data-bs-toggle="dropdown"
    >
      10
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">10</a>
      <a class="dropdown-item" href="#">20</a>
    </div>
  </div>
</div>
