<div class="filter d-flex justify-content-start p-4">
  <div class="filter-input">
    <input
      type="name"
      class="form-control"
      id="search-input"
      placeholder="Search name"
      [(ngModel)]="searchTerm"
      (input)="search($event)"
    />
  </div>
  <div class="filter-one">
    <button
      type="button"
      class="btn dropdown-toggle filter-button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
      data-bs-toggle="dropdown"
    >
      All
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">All</a>
      <a class="dropdown-item" href="#">Favorites</a>
    </div>
  </div>
  <div class="filter-two">
    <span>Show</span>
    <button
      class="btn dropdown-toggle filter-button"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
      data-bs-toggle="dropdown"
    >
      {{ !selectedValue ? 1 : selectedValue }}
    </button>
    <div
      class="dropdown-menu"
      aria-labelledby="dropdownMenuButton"
      *ngIf="numberOfContacts !== 1"
    >
      <a
        class="dropdown-item"
        href="#"
        *ngFor="let pageNumber of listPage"
        (click)="selectValue(pageNumber)"
      >
        {{ pageNumber }}
      </a>
    </div>
  </div>
</div>
