<div class="header d-flex p-3">
  <ng-container *ngIf="!currentUser; else edit">
    <h5 class="" id="modal-basic-title">Add Contact</h5>
  </ng-container>
  <ng-template #edit>
    <h5 class="" id="modal-basic-title">Update Contact</h5>
  </ng-template>
  <button type="button" class="btn" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">×</span>
  </button>
</div>
<div class="content p-3">
  <form [formGroup]="contactForm">
    <div class="form-group d-flex content-form">
      <label for="exampleInputPassword1">Name</label>
      <input class="form-control" formControlName="name" />
    </div>
    <div class="text-end">
      <small
        class="text-danger"
        *ngIf="
        formValidator.nameControl?.hasError('nameAlreadyExists')
        "
      >
        Name already exist
      </small>
    </div>
    <div class="form-group d-flex content-form">
      <label for="exampleInputPassword1">Email</label>
      <input class="form-control" formControlName="email" />
    </div>
    <div class="text-end">
      <small
        class="text-danger"
        *ngIf="formValidator.emailControl?.invalid && formValidator.emailControl?.touched"
      >
        Invalid Email
      </small>
    </div>
    <div class="form-group d-flex content-form">
      <label for="exampleInputPassword1">Tel No.</label>
      <input class="form-control" formControlName="telephoneNumber" />
    </div>
    <div class="text-end">
      <small
        class="text-danger"
        *ngIf="
        formValidator.telephoneNumberControl?.invalid && formValidator.telephoneNumberControl?.touched
        "
      >
        Invalid Telephone Number
      </small>
    </div>
    <div class="form-group d-flex content-form">
      <label for="exampleInputPassword1">Favorite Flag</label>
      <ng-select
        [items]="flags"
        bindLabel="name"
        bindValue="id"
        formControlName="favoriteFlag"
      >
      </ng-select>
    </div>
  </form>
</div>
<div class="footer d-flex">
  <button type="button" class="btn" (click)="closeModal()">Cancel</button>
  <ng-container *ngIf="!currentUser; else btnUpdate">
    <button
      type="button"
      class="btn btn-success footerBtn-success"
      (click)="onSubmit()"
      [disabled]="!formValidator.customValidation()"
    >
      Save
    </button>
  </ng-container>
  <ng-template #btnUpdate>
    <button
      type="button"
      class="btn btn-success footerBtn-success"
      (click)="updateContact()"
      [disabled]="!formValidator.customValidation()"
    >
      Update
    </button>
  </ng-template>
</div>
