<div class="p-4">
  <table class="table">
    <thead>
      <tr>
        <th class="th-favorites"></th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Telephone No.</th>
        <th scope="col">Favorite Flag</th>
        <th class="th-actions"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <i class="bi bi-star-fill favorite-icon"></i>
        </td>
        <td>Earl Hans</td>
        <td>earlhansg</td>
        <td>455338821</td>
        <td>US</td>
        <td>
          <button type="submit" class="btn btn-primary">
            <span class="bi-pencil"></span>
          </button>
          <button type="submit" class="btn btn-danger">
            <span class="bi-trash"></span>
          </button>
        </td>
      </tr>
    </tbody>
    <tbody>
        <tr>
          <td>
            <i class="bi bi-star-fill favorite-icon"></i>
          </td>
          <td>Juan Dela Cruz</td>
          <td>juandelacruz</td>
          <td>22233111</td>
          <td>PH</td>
          <td>
            <button type="submit" class="btn btn-primary">
              <span class="bi-pencil"></span>
            </button>
            <button type="submit" class="btn btn-danger">
              <span class="bi-trash"></span>
            </button>
          </td>
        </tr>
      </tbody>
  </table>
</div>
